<!-- views/productDetails.handlebars -->
<html>

<head>
    <title>Detalles del Producto</title>
</head>

<body>
    <h1>{{product.title}}</h1>
    
    <!-- Mostrar otros detalles del producto -->
    <p>Descripción: {{product.description}}</p>
    <p>Precio: {{product.price}}</p>
    <p>Stock: {{product.stock}}</p>
    <p>Categoría: {{product.category}}</p>

    <!-- Agregar formulario para agregar al carrito directamente -->
    <form action="/cart/{{cidDefault}}/products/{{product._id}}" method="POST">
        <input type="hidden" name="cartId" value="{{cidDefault}}">
        <button type="submit">Agregar al Carrito</button>
    </form>
    
    <!-- Otros elementos según sea necesario -->

</body>

</html>
